@import "tailwindcss";
@plugin "daisyui";


.primary_color {
    @apply text-[#FF3811]
}

.primary_btn {
     @apply  btn bg-[#FF3811] text-white capitalize border-none 
} 

.secondary_btn {
    @apply btn border border-[#FF3811] text-[#FF3811] capitalize bg-white hover:bg-[#FF3811] hover:text-white transition-all 
}


.service_card{
    box-sizing: border-box;
border: 1px solid rgba(232, 232, 232, 1);
border-radius: 10px;
background: rgba(255, 255, 255, 1);
}
